.item {
    width: 25%;
    float: left;
    margin-top: 40px;
}
.item {
    position: relative;
}

.item .line {
    top: 50%;
    left: 0;
    width: 80%;
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item p:first-child {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.item p:not(:first-child) {
    font-size: small;
    color: grey;
}